# Ignore node_modules directories
**/node_modules/

# Ignore .env files
**/.env

# Ignore Visual Studio files
.vs/

# Ignore backend obj directories
backend/obj/
obj/
bin/

# Ignore appsettings files
backend/appsettings.json
backend/appsettings.Development.json