# Ignore node_modules directories
**/node_modules/

# Ignore .env files
**/.env

# Ignore Visual Studio files
.vs/

# Ignore bin and obj folders only inside backend/
backend/bin/
backend/obj/

# Ignore global bin and obj folders (if applicable)
bin/
obj/

# Ignore appsettings files inside backend
backend/appsettings.json
backend/appsettings.Development.json
