# Ignore node_modules directories
**/node_modules/

# Ignore .env files
**/.env

# Ignore IDE files
.vs/
.idea/
.vscode/
*.code-workspace

# Ignore bin and obj folders only inside backend/
*backend/bin/**
*backend/obj/**

# Ignore global bin and obj folders (if applicable)
bin/
obj/

# Ignore appsettings files inside backend
backend/appsettings.json
backend/appsettings.Development.json

# Ignore Mobile extras
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

app.*.symbols
app.*.map.json

/android/app/debug
/android/app/profile
/android/app/release

# Flutter-specific
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata

# iOS-specific
ios/.generated/
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android-specific
android/.gradle/
android/.idea/
android/app/build/
android/build/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/.settings/

# Miscellaneous
*.lock
*.swp
*.swo
*.tmp
*.patch