.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10dvh;
    width: 70%;
}

.header-parent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #1d5e32, #1a9465);
}

@media (max-width: 850px) {
    .header {
        width: 100%; /* Adjust this value as needed */
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-height: 1100px){
    .header-parent{
        height: 5dvh;
    }
}