/* CSS 'class' to make styling more consistent across many pages */
/* @import "tailwindcss"; */

:root{
    --my-common-padding: 0.7rem;
    --common-margin: 0.5rem;
    --common-radius: 12px;
}
.header{
    height: 4vh;
}
.w-full{
    width: 100%;
}
.screen{
    height: 100vh;
    width: 100vw;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-padding{
    padding: var(--my-common-padding);
}

.text-input{
    padding: var(--my-common-padding);
    border: 1px black solid;
    border-radius: 0.8rem;
    margin: var(--common-margin);
}

.input-in{
    padding: var(--my-common-padding);
    border-radius: var(--common-radius);
    border: 1px solid black;
    box-shadow: 4px 4px lightslategray;
    background-color: whitesmoke;
}

.btn{
    padding: var(--my-common-padding);
    font-size: large;
    color: black;
    margin: 0.3rem;
    border: 1px black solid;
    border-radius: var(--common-radius);
}